# ───────────────────────── requirements.txt ─────────────────────────
streamlit
pandas
# gspread
oauth2client
python-dotenv
# google-api-python-client
# google-auth-httplib2
# google-auth-oauthlib
# google-auth==2.25.2          # ↳ versions ≥2.28.0 trigger the _auth_request error

gspread>=5.11.0
google-auth>=2.6.6
google-auth-httplib2>=0.1.0
google-api-python-client>=2.100.0
# ─────────────────────────────────────────────────────────────────────
